.blob-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 9999;
}

.blob-main {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: transparent;
    user-select: none;
    cursor: default;
}

.blob {
    position: absolute;
    will-change: transform;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.inner-dot {
    position: absolute;
    pointer-events: none;
}